
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Times New Roman", Times New Roman}

#tint{
z-index:1;
position:absolute;
margin:0px;
height:auto;
width:100%;
}

#vol{
content:"";
position:relative;
display:table;
clear:both;
background-color:white;
margin-bottom:20px;
padding:16px;
color:gray;
width:100%;

}
#overlay_vol{
        height:0;
        overflow:hidden;
}
#vol:hover #overlay_vol{
height:100%;
}
#edu{
content:"";
position:relative;
display:table;
clear:both;
background-color:white;
margin-bottom:20px;
padding:16px;
color:gray;
width:100%;
}
#overlay_edu{
        height:0;
        overflow:hidden;
}
#edu:hover #overlay_edu{
height:100%;
}

#ach{
content:"";
position:relative;
display:table;
clear:both;
background-color:white;
margin-bottom:20px;
padding:16px;
color:gray;
width:100%;
}
#overlay_ach{
        height:0;
        overflow:hidden;
}
#ach:hover #overlay_ach{height:100%;}

